*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/app/src/main/assets/injector
/app/src/main/assets/libhook.so
gradle.properties